.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    font-size: 25px;
    color: var(--title-color);
    font-weight: bold;
}
.form{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.inputText{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.input{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.select{
    display: flex;
    max-width: 15rem;
    width: 100%;
}
.selects{
    width: 170px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}