.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card{
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    gap: 20px;
}
.title{
    font-size: 23px;
    color: var(--primary-color);
    font-weight: bolder;
    text-decoration: underline;
}
.items{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.itemsGroups{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subTitle{
    font-size: 16px;
    color: var(--title-color);
    font-weight: bold;
}
.text{
    font-size: 16px;
    color: var(--title-color);
    
}
.groups{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    gap: 16px;
}
.none{
    display: none;
}
.deleteBtn{
    position: absolute;
    right: 7px;
    top: 7px;
}
