.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}
.title{
    font-size: 25px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.subTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}
.bigSpace{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallSpace{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card {
    position: relative;
  }
  
  .cardHover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    bottom: 15px;
    left: 425px;
    width: 200px;
    height: 100px;
    background-color: var(--title-color);
    color: var(--alternative-color);   
    font-size: 11px;
    opacity: 0;
    transition: opacity 0.3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .card:hover .cardHover {
    opacity: 0.8;
  }