.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}
.title{
    font-size: 25px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.subTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0 20px 10px 0;
    max-width: 473px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}
.bigSpace{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallSpace{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card {
    position: relative;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
  }
  .filterContainer {
    max-width: 480px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .dateBox{
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    color: var(--primary-color);
  }
  .dateColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .cementeryFilter{
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
  }
.dateInput{
    position: relative;
    background-color: var(--primary-color);
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.dateInput::-webkit-calendar-picker-indicator{
    background-color: var(--secondary-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.noDeceased{
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: var(--bringht-color);
  }

.cementeryTypeSelect{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width:500px) {
    .filterContainer{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .subTitle{
        width: 95%;

    }
    .cementeryFilter{
        max-width: 320px;
    }
}