.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.title{
  font-size: 22px;
  color: var(--title-color);
  font-weight: bold;
  margin: 10px;
}
.newPlace{
  position: absolute;
  right: 2%;
  top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  color: var(--title-color);
}
.newPlace:hover{
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}