.container{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.title{
  font-size: 22px;
  color: var(--title-color);
  font-weight: bold;
  margin: 10px;
}
.newPlace{
  position: absolute;
  right: 5%;
  top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  color: var(--title-color);
}
.newPlace:hover{
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
.input{
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formRow{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 600px){
  .newPlace{
    top: 5rem;
  }
}