.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginTitle{
    font-size: 25px;
    color: var(--title-color);
    font-weight: bold;
}
.form{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.inputText{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}
.input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 13px;
}