.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    padding: 1rem;
}

.title {
    font-size: 25px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}

.subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    max-width: 400px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}

.bigSpace {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallSpace {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.noDeceased {
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: var(--bringht-color);
}

.searchContaier {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.search {
    border: 1px solid var(--primary-color);
    text-align: right;
    outline: none;
    width: 160px;
    height: 20px;
}