.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{
    font-size: 20px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.form{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
    
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.inputDate{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 12px;
}
.input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 12px;
}
.textAreaP{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    height: 120px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 12px;
}
.textArea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    height: 100px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 12px;
}
.formLevel{
    display: flex;
    gap: 10px;
}
.formTexts{
    display: flex;
}
.newsPaper{
    display: flex;
    flex-direction: column;
}
.coffinDiv{
    display: flex;
    gap: 10px;
}
.buttonContainer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.customSwitchInput:checked {
    background-color: var(--secondary-color); /* Color de fondo cuando el switch está activado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está activado */
    box-shadow: none;
}
.customSwitchInput {
    background-color:var(--title-color); /* Color de fondo cuando el switch está desactivado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está desactivado */
    box-shadow: none;
}
.metalBox{
    display: flex;
    justify-content: center;
    gap: 5px;
}