
.container{
  display: flex;
  gap: 2%;
  padding: 2%;
  justify-content: center;
}

.table {
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 2px solid #43815A;
    padding: 8px;
  }
  
  .table th {
    background-color: #43815A;
    color: white;
  }
  
  @media (max-width:900px) {
    
.container{
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap:20px;
  justify-content: center;
  align-items: center;
}
  }