.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.title{
    font-size: 23px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.formContainer{
    padding: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputDate{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
}
.dateRow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formRow{
    display: flex;
    gap: 10px;
}
.formLevel{
    display: flex;
    gap: 10px;
}
.formTexts{
    display: flex;
}
.newsPaper{
    display: flex;
    flex-direction: column;
}
.coffinDiv{
    display: flex;
    gap: 10px;
}
.buttonContainer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.customSwitchInput:checked {
    background-color: var(--secondary-color); /* Color de fondo cuando el switch está activado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está activado */
    box-shadow: none;
}
.customSwitchInput {
    background-color:var(--title-color); /* Color de fondo cuando el switch está desactivado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está desactivado */
    box-shadow: none;
}
.switchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.metalBox{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.switchBtnContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.dateInput{
    position: relative;
    background-color: var(--primary-color);
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.dateInput::-webkit-calendar-picker-indicator{
    background-color: var(--secondary-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}