.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}
.title{
    font-size: 30px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.subTitle{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 75%;
    border: 1px solid var(--title-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: var(--primary-color);
    font-weight: bold;
}
.subTitleItems{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 100%;
    border-left: 1px solid var(--title-color);
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 75%;
    border: 1px solid var(--title-color);
    border-top: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: var(--primary-font-color);
}
.subItems{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 100%;
    border-left: 1px solid var(--title-color);
}
.noStock{
    font-size: 20px;
    font-weight: bold;
    color: var(--bringht-color);
}