.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}
.title{
    font-size: 30px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.subTitle{
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold;
    margin: 10px;
}
.table {
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 2px solid #43815a;
    padding: 8px;
  }
  
  .table th {
    background-color: #43815a;
    color: white;
  }
.subTitle{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 75%;
    border: 1px solid var(--title-color);
.tableContainer{
    padding-left: 5%;
    padding-right: 5%;

}
.table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 2px solid #43815A;
    text-align: center;
    padding: 8px;
  }
  
  .table th {
    background-color: #43815A;
    color: white;
  }
.noStock{
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: var(--bringht-color);
}
.searchContaier{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.search{
    border: none;
    text-align: right;
    outline: none;
    width: 160px;
}
.search:focus{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    transition: border-bottom 0.3s ;
}

@media screen and (max-width: 600px) {
    .table{
        font-size: 11px;
    } 
    .table th,
    .table td {
        border: 1px solid #43815A;
        text-align: center;
        padding: 5px;
    }
}