.container{
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.leftDiv{
    display: flex;
    padding-left: 1%;
    cursor: pointer;
}
.logo{
    background-image: url('../../../../public/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    width: 80px;
    margin: 10px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 14px;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 18px;
}
.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 12px;
}
.rightDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 15px;
    gap: 30px;
}
.sessionDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.session{
    cursor: pointer;
}
.session:hover{
    text-decoration: underline;
}
.sandwichMenu{
    display: none;
}
.menuNone{
    display: none;
}
.menu{
    display: none;
}
@media (max-width: 650px){
    .rightDiv{
        display: none;
    }
    .sandwichMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;
    }
    .line{
        background-color: white;
        width: 100%;
        height: 2px;
    }
    .menuNone{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 140px;
        height: 90px;
        right: 0;
        top: 100px;
        background-color: var(--secondary-color);
    }
    .menuItems{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        color: var(--primary-color);
    }
    .menuItems:hover{
        cursor: pointer;
        background-color: var(--alternative-color);
    }
}

@media (max-width: 600px) {
    .logo{
        height: 50px;
        width: 50px;
    }
    .subtitle{
        font-size: 12px;
    }
    .title{
        font-size: 16px;
    }
    .description{
        font-size: 10px;
    }
    .leftDiv{
        padding-left: 0;
    }
    .rightDiv{
        padding-right: 2%;
        font-size: 12px;
        gap: 4px;
    }
    .session{
        cursor: pointer;
    }
    .menu{
        top: 70px;
    }
}