/* Small Button */
.btn {
    background-color: var(--primary-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    color: var(--alternative-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Animación de transición */
  }
.btn:hover {
    background-color: var(--secondary-color);
    color: var(--subtitle-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btnLoading {
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--title-color);
  border-radius: 4px;
  color: var(--alternative-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  width: 80px;
  height: 35px;
}


/* Double Button */
.cont{
  display: flex;
  position: relative;
  justify-content: center;
}
.button1{
  width: 120px;
  height: 50px;
  background-color: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--title-color);
  border-right-width: 0px;
  margin: 0;
  padding: 0;
  color: var(--alternative-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-style: initial;
  cursor: pointer;
}
.button1:hover{
  background-color: var(--secondary-color);
  color: var(--title-color);
}
.button2{
  width: 120px;
  height: 50px;
  background-color: var(--primary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--title-color);
  margin: 0;
  padding: 0;
  color: var(--alternative-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-style: initial;
  cursor: pointer;
}
.button2:hover{
  background-color: var(--secondary-color);
  color: var(--title-color);
}


/* Large Button */
.largeButton{
  width: 240px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid var(--title-color);
  margin: 0;
  padding: 0;
  color: var(--alternative-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-style: initial;
  cursor: pointer;
}
.largeButton:hover{
  background-color: var(--secondary-color);
  color: var(--title-color);  
}


/* Switch Button */

.buttonOn {
  position: relative;
  width: 40px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 1px solid var(--title-color);
  cursor: pointer;
}

.buttonOff {
  position: relative;
  width: 40px;
  height: 18px;
  background-color: var(--alternative-color);
  border-radius: 15px;
  border: 1px solid var(--title-color);
  cursor: pointer;
}

.ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--title-color);
  transition: transform 0.3s ease;
}

.buttonOn .ball {
  transform: translateX(22px);
}

.buttonOff .ball {
  transform: translateX(0);
}

.deleteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bringht-color);
  width: 20px;
  height: 16px;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--alternative-color);
  cursor: pointer;
}
.deleteButton:hover{
  background-color: darkred;
}

@media screen and (max-width: 450px){
  .btn {
    font-size: 14px;
  }
  .largeButton{
    font-size: 16px;
  }
}