.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{ 
    font-size: 22px;
    color: var(--title-color);
    font-weight: bold;
    margin: 10px;
}
.form{
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formContainer{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 10px;    
}
.inputDate{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
}
.dateRow{
    display: flex;
    gap: 10px;
}
.input{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.textArea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 60px;
    border: 1px solid var(--primary-color);
    font-size: 12px;
}
.formRow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.selects{
    width: 170px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buttonContainer{ 
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.customSwitchInput:checked {
    background-color: var(--secondary-color); /* Color de fondo cuando el switch está activado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está activado */
    box-shadow: none;
}
.customSwitchInput {
    background-color:var(--title-color); /* Color de fondo cuando el switch está desactivado */
    border-color: var(--primary-color); /* Color del borde cuando el switch está desactivado */
    box-shadow: none;
}
.switch{ 
    display: flex;
    justify-content: center;
    gap: 5px;
}
@media screen and (max-width: 800px) {
    .form{
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    .form{
        width: 90%;
    }
}

.dateInput{
    position: relative;
    background-color: var(--primary-color);
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.dateInput::-webkit-calendar-picker-indicator{
    background-color: var(--secondary-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}