.container{
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
}
.leftDiv{
    display: flex;
    padding-left: 7%;
    cursor: pointer;
}
.logo{
    background-image: url('../../../../public/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 11px;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 15px;
}
.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 10px;
}
.rigthDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--alternative-color);
    font-size: 13px;
}
.sesion{
    cursor: pointer;
}
.sesion:hover{
    text-decoration: underline;
}